# Ignores all files containing '$' (backup copies made by SOLIDWORKS) 
*\$*
Arm 2024-2025/End Effector/Tool Changer Prototypes/ball-bearing-mech-changer/~$14mm ball-bearing.SLDPRT
Arm 2024-2025/End Effector/Tool Changer Prototypes/ball-bearing-mech-changer/~$BT-0001.SLDPRT
Arm 2024-2025/End Effector/Tool Changer Prototypes/ball-bearing-mech-changer/~$BT-0002.SLDPRT
Arm 2024-2025/End Effector/Tool Changer Prototypes/ball-bearing-mech-changer/~$BT-0003.SLDPRT
Arm 2024-2025/End Effector/Tool Changer Prototypes/ball-bearing-mech-changer/~$BT-0004.SLDPRT
Arm 2024-2025/End Effector/Tool Changer Prototypes/ball-bearing-mech-changer/~$BT-0008-Baseplate.SLDPRT
Arm 2024-2025/End Effector/Tool Changer Prototypes/ball-bearing-mech-changer/~$BT-0008-Top Part.SLDPRT
Arm 2024-2025/End Effector/Tool Changer Prototypes/ball-bearing-mech-changer/~$Tool Changer With End Effector Assembly.SLDASM
Arm 2024-2025/Link 1/A2-Motor/~$EC90fl-220W-V1.SLDPRT
Arm 2024-2025/Link 1/Axis 2/~$A2_Harm_Bearing.SLDPRT
Arm 2024-2025/Link 1/Axis 2/~$Bearing-Harm-Spacer.SLDPRT
Arm 2024-2025/Link 1/Axis 2/~$csg-20-xxx-2uh-lw.SLDASM
Arm 2024-2025/Link 1/Axis 2/~$Harm-Stator-Mount.SLDPRT
Arm 2024-2025/Link 1/Axis 3/~$A3-Harm-Link1-Intermediate.SLDPRT
Arm 2024-2025/Link 1/Axis 3/~$A3-Motor-Assem.SLDASM
Arm 2024-2025/Link 1/Axis 3/~$A3-Motor-Harm-Intermediate.SLDPRT
Arm 2024-2025/Link 1/Axis 3/~$A3-Shaft-Harm-Couple.SLDPRT
Arm 2024-2025/Link 1/Axis 3/~$csf-17-xxx-2uh-ulw.SLDASM
Arm 2024-2025/Link 1/Axis 3/~$ManuSpacer.SLDPRT
Arm 2024-2025/Link 1/~$Cross-Bracing.SLDPRT
Arm 2024-2025/Link 1/~$Link-1-Assem.SLDASM
Arm 2024-2025/Link 1/~$Link1-EndCap.SLDPRT
Arm 2024-2025/Link 1/~$Link1-Harm-Side.SLDPRT
Arm 2024-2025/Link 2/A5-6 Parts/A56_plate_0713.DXF
Arm 2024-2025/Link 2/Axis-4/Fixed A4 March02/MotorHolder2.STEP
Arm 2024-2025/~$ArmPlateShim.SLDPRT
Arm 2024-2025/~$MAIN Arm Assembly RevA 20250202.SLDASM
